$breakpoint-laptops: 1200px;
$breakpoint-big-tablets: 979px;
$breakpoint-small-tablets: 767px;
$breakpoint-phones: 600px;

$main-color: #F0F3F5;
$second-color: #A2564F;
$border-button-color: #081013;
$main-font-color: #F0F3F5;
$second-font-color: #081013;

$h1-size-desktop: 48px;
$h2-size-desktop: 40px;
$h3-size-desktop: 32px;
$main-text-size-desktop: 24px;
$button-text-size-desktop: 24px;
$header-text-size-desktop: 20px;

$h1-size-mobile: 24px;
$h2-size-mobile: 20px;
$h3-size-mobile: 16px;
$main-text-size-mobile: 20px;
$button-text-size-mobile: 24px;
