@use '../css/variables' as *;

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .main__section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 240px;
        width: 100vw;
    
        background-color: $second-color;

        h1 {
            color: $main-font-color;
            font-size: $h1-size-desktop;
        }
    }

    .section1 {
        background-image: url(../img/youngexplorers-big-banner.jpg);
    }

    .section2 {
        background-image: url(../img/starsclub-big-banner.jpg);
    }

    .section3 {
        background-image: url(../img/holidayclub-big-banner.jpg);
    }

    .section4 {
        background-image: url(../img/teachers-big-banner.jpg);
    }
}

section {
    height: 500px;
    width: 100vw;

    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h2 {
    color: $main-color;
    font-size: $h2-size-desktop;
}

.text {
    color: $main-font-color;
    font-size: $main-text-size-desktop;
    max-width: 1547px;
} 

@media (max-width: $breakpoint-laptops) {
    .main {
        .main__section {
            height: 200px;

            h1 {
                font-size: $h1-size-desktop - 12px;
            }
        }
    }

    .text {
        max-width: $breakpoint-laptops - 300px;
    }

    h2 {
        font-size: $h2-size-desktop - 12px;
    }

    section {
        height: 400px;
    }
}

@media (max-width: $breakpoint-big-tablets) {
    .main {
        .main__section {
            height: 180px;

            h1 {
                font-size: $h1-size-desktop - 16px;
            }
        }
    }

    .text {
        max-width: $breakpoint-big-tablets - 300px;
        font-size: $main-text-size-mobile + 2px;
    }

    h2 {
        font-size: $h2-size-desktop - 16px;
    }
}

@media (max-width: $breakpoint-small-tablets) {
    .main {
        .main__section {
            height: 160px;

            h1 {
                font-size: $h1-size-mobile;
            }
        }

        .section1 {
            background-image: url(../img/youngexplorers-small-banner.jpg);
        }
    
        .section2 {
            background-image: url(../img/starsclub-small-banner.jpg);
        }
    
        .section3 {
            background-image: url(../img/holidayclub-small-banner.jpg);
        }
    
        .section4 {
            background-image: url(../img/teachers-small-banner.jpg);
        }

        section {
            background-size: 100%;
        }
    }

    .text {
        max-width: $breakpoint-small-tablets - 260px;
        font-size: $main-text-size-mobile;
    }

    h2 {
        font-size: $h2-size-mobile;
    }
}

@media (max-width: $breakpoint-phones) {

    .text {
        max-width: $breakpoint-phones - 200px;
        font-size: $main-text-size-mobile;
    }

    h2 {
        font-size: $h2-size-mobile;
    }
}