@use '../css/variables' as *;

body {
    overflow-x: hidden;
    background-color: $main-color;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;


    .main__section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 240px;
        width: 100vw;
    
        background-color: $second-color;

        h1 {
            color: $main-font-color;
            font-size: $h1-size-desktop;
        }

        p {
            color: $main-color;
            font-size: $h3-size-desktop;
        }

        h2 {
            color: $main-color;
            font-size: $h2-size-desktop;
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;

        align-items: center;

        margin-top: 32px;

        .nav__cards__holder {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            justify-content: center;

            margin-top: 16px;

            gap: 16px;

            a {
                text-decoration: none;
                font-size: $h3-size-desktop;
                color: $main-font-color;
            }

            .card {
                width: 380px;
                height: 380px;
                display: flex;

                align-items: center;
                justify-content: center;
            }

            .card1 {
                background-image: url(../img/visit-home-image.jpg);
                background-position: center;
                background-size: contain;
            }

            .card2 {
                background-image: url(../img/kids-home-image.jpg);
                background-position: center;
                background-size: contain;
            }

            .card3 {
                background-image: url(../img/exhibition-home-image.jpg);
                background-position: center;
                background-size: contain;
            }

            .card4 {
                background-image: url(../img/events-home-image.jpg);
                background-position: center;
                background-size: contain;
            }
        }
    }

    .section3 {
        display: flex;
        flex-direction: column;

        align-items: center;

        margin-top: 32px;

        .exhibitions__cards__holder {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            justify-content: center;

            margin-top: 16px;
            margin-bottom: 16px;

            gap: 16px;

            a {
                text-decoration: none;
                font-size: $h3-size-desktop;
                color: $main-font-color;
            }

            .card {
                width: 380px;
                height: 380px;
                display: flex;

                align-items: center;
                justify-content: center;
            }

            .card1 {
                background-image: url(../img/evolution-small-image.jpg);
                background-position: center;
                background-size: contain;
            }
            .card2 {
                background-image: url(../img/cosmology-small-image.jpg);
                background-position: center;
                background-size: contain;
            }
            .card3 {
                background-image: url(../img/biology-small-image.jpg);
                background-position: center;
                background-size: contain;
            }
    }

    .button__container {
        display: flex;
        width: 338px;
        height: 60px;
        background-color: $second-color;
        margin-top: 16px;
        margin-bottom: 32px;

        align-items: center;
        justify-content: center;

        .button {
            text-transform: uppercase;
            text-decoration: none;
            color: $main-font-color;
            font-size: $button-text-size-desktop;
        }
    }

    .button__container:hover {
        background-color: $main-color;
        border-style: solid;
        border-width: 1px;
        border-color: $border-button-color;

        .button {
            color: $second-font-color;
        }
    }    
}
}

.text {
    color: $second-font-color;
    font-size: $main-text-size-desktop;
    max-width: 1547px;
} 

@media (max-width: $breakpoint-laptops) {
    .main {
        .main__section {
            height: 200px;

            h1 {
                font-size: $h1-size-desktop - 12px;
            }

            p {
                font-size: $h3-size-desktop - 12px;
            }

            h2 {
                font-size: $h2-size-desktop - 12px;
            }
        }

        .section2 {
            .nav__cards__holder {
                .card {
                    width: 320px;
                    height: 320px;
                }
            }
        }

        .section3 {
            .exhibitions__cards__holder {
                .card {
                    width: 320px;
                    height: 320px;
                }
            }
        }
    }

    .text {
        max-width: $breakpoint-laptops - 300px;
    }
}

@media (max-width: $breakpoint-big-tablets) {
    .main {
        .main__section {
            height: 180px;

            h1 {
                font-size: $h1-size-desktop - 16px;
            }

            p {
                font-size: $h3-size-desktop - 16px;
            }

            h2 {
                font-size: $h2-size-desktop - 16px;
            }
        }


        .section2 {
            .nav__cards__holder {
                .card {
                    width: 300px;
                    height: 300px;
                }
            }
        }

        .section3 {
            .exhibitions__cards__holder {
                .card {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }


    .text {
        max-width: $breakpoint-big-tablets - 300px;
        font-size: $main-text-size-mobile + 2px;
    }
}

@media (max-width: $breakpoint-small-tablets) {
    .main {
        .main__section {
            height: 160px;

            h1 {
                font-size: $h1-size-mobile;
            }

            p {
                font-size: $h3-size-mobile;
            }

            h2 {
                font-size: $h2-size-mobile;
            }
        }


        .section2 {
            .nav__cards__holder {
                .card {
                    width: 260px;
                    height: 260px;
                }
            }
        }

        .section3 {
            .exhibitions__cards__holder {
                .card {
                    width: 260px;
                    height: 260px;
                }
            }
        }
    }


    .text {
        max-width: $breakpoint-small-tablets - 260px;
        font-size: $main-text-size-mobile;
    }
}

@media (max-width: $breakpoint-phones) {
    .main {
        .section2 {
            .nav__cards__holder {
                .card {
                    width: 200px;
                    height: 200px;
                }
            }
        }

        .section3 {
            .exhibitions__cards__holder {
                .card {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }

    .text {
        max-width: $breakpoint-phones - 200px;
        font-size: $main-text-size-mobile;
    }
}


