@use '../css/variables' as *;

body {
    overflow-x: hidden;
    background-color: $main-color;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .main__section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 240px;
        width: 100vw;
    
        background-color: $second-color;

        h1 {
            color: $main-font-color;
            font-size: $h1-size-desktop;
        }

        h2 {
            color: $main-color;
            font-size: $h2-size-desktop;
        }
    }

    .section1 {
        background-image: url(../img/aeronautics-big-banner.png);
    }

    .section2 {
        background-image: url(../img/nightmuseum-big-banner.png);
    }

    .section3 {
        background-image: url(../img/nemo-big-banner.png);
    }
}

section {
    height: 500px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h2 {
    color: $main-color;
    font-size: $h2-size-desktop;
}

.text {
    color: $main-font-color;
    font-size: $main-text-size-desktop;
    max-width: 1547px;
} 