@use '../css/variables' as *;

body {
    overflow-x: hidden;
    background-color: $main-color;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .main__section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 240px;
        width: 100vw;
        background-color: $second-color;

        margin-top: 0;

        h1 {
            color: $main-font-color;
            font-size: $h1-size-desktop;
        }

        h2 {
            color: $main-color;
            font-size: $h2-size-desktop;
        }
    }
}

section {
    margin-top: 32px;
}

.text {
    margin-top: 16px;
}

h2 {
    color: $second-font-color;
    font-size: $h2-size-desktop;
}

.text {
    color: $second-font-color;
    font-size: $main-text-size-desktop;
    max-width: 1547px;
} 