@use '../css/variables' as *;

body {
    overflow-x: hidden;
    background-color: $main-color;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .main__section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 240px;
        width: 100vw;
        background-color: $second-color;

        margin-top: 0;

        h1 {
            color: $main-font-color;
            font-size: $h1-size-desktop;
        }

        h2 {
            color: $main-color;
            font-size: $h2-size-desktop;
        }
    }
}

section {
    margin-top: 32px;
}

.text {
    margin-top: 16px;
}

h2 {
    color: $second-font-color;
    font-size: $h2-size-desktop;
}

.text {
    color: $second-font-color;
    font-size: $main-text-size-desktop;
    max-width: 1547px;
} 

@media (max-width: $breakpoint-laptops) {
    .main {
        .main__section {
            height: 200px;

            h1 {
                font-size: $h1-size-desktop - 12px;
            }

            h2 {
                font-size: $h2-size-desktop - 12px;
            }
        }
    }

    .text {
        max-width: $breakpoint-laptops - 300px;
    }

    h2 {
        font-size: $h2-size-desktop - 12px;
    }
}

@media (max-width: $breakpoint-big-tablets) {
    .main {
        .main__section {
            height: 180px;

            h1 {
                font-size: $h1-size-desktop - 16px;
            }

            h2 {
                font-size: $h2-size-desktop - 16px;
            }
        }
    }

    .text {
        max-width: $breakpoint-big-tablets - 200px;
        font-size: $main-text-size-mobile + 2px;
    }

    h2 {
        font-size: $h2-size-desktop - 16px;
    }
}

@media (max-width: $breakpoint-small-tablets) {
    .main {
        .main__section {
            height: 160px;

            h1 {
                font-size: $h1-size-mobile;
            }

            h2 {
                font-size: $h1-size-mobile;
            }
        }
    }

    .text {
        max-width: $breakpoint-small-tablets - 260px;
        font-size: $main-text-size-mobile;
    }

    h2 {
        font-size: $h2-size-mobile;
    }
}

@media (max-width: $breakpoint-phones) {
    .text {
        max-width: $breakpoint-phones - 200px;
        font-size: $main-text-size-mobile;
    }
}