@use '../../css/variables' as *;

body {
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    width: 100%;
    max-height: 100px;

    padding: 0 32px;

    .logo {
        height: 50px;
        width: auto;
        margin-top: 12px;
    }

    .navigation {
        display: flex;
        align-items: center;

        gap: 32px;
        margin-right: 64px;

        .navigation__item {
            text-decoration: none;
            color: $second-font-color;
            font-size: $header-text-size-desktop;
            font-weight: 500;
        }

        .navigation__item:hover {
            color: $second-color;
        }

        .active {
            color: $second-color;
        }
    }
}

#burger {
    display: none;
}

.burger__icon {
    display: none;

    z-index: 1001;

    width: 40px;
    height: 40px;

    background-image: url("../../img/icons/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.side__mob__menu {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: $main-color;
    padding: 20px;
    z-index: 1000;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    .navigation {
        display: flex;

        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 32px;
        margin-top: 64px;

        .navigation__item {
            text-decoration: none;
            color: $second-font-color;
            font-size: $main-text-size-mobile;
        }
    }
}


@media (max-width: $breakpoint-laptops) {
    .header {
        flex-direction: column;
        max-height: none;
        padding-bottom: 16px;

        .logo {
            margin-left: 0;
            align-self: center;
            margin-top: 12px;
        }

        .navigation {
            margin-right: 0;
            margin-top: 16px;
            justify-content: center;
        }
    }
}

@media (max-width: $breakpoint-big-tablets) {
    .header {
        .logo {
            margin-left: auto;
            margin-right: auto;
        }

        .navigation {
            display: none;
        }
    }

    .burger__icon {
        display: flex;
        position: fixed;
        left: 12px;
        top: 12px;
    }

    #burger:checked ~ .side__mob__menu {
        transform: translateX(0);
    }
}